/* VARIABLES */
:root {
  --main-bg-color: #fbefd8;
  --secondary-bg-color: #ddbc95;
  --tertiary-bg-color: #707d81;
  --tertiary-bg-faded: #cdcdc0;
  --primary-color: #4b4345;
  --primary-faded: #756c6e;
  --secondary-color: #d13525;
  --secondary-faded: #f74531;
  --tertiary-color: #486824;
  --quaternary-color: #4c3f54;
  --quaternary-faded: #816990;
  --shelf-color: #763626;
  --accent-color: #f2c057;
}

/* GLOBAL STYLES */
body {
  background-color: var(--main-bg-color);
  font-family: 'Mulish', sans-serif;
  color: var(--primary-color);
  min-height: 100vh;
}

main {
  margin-bottom: 3rem;
}

h1 {
  color: var(--primary-color);
}

h2 {
  font-weight: bold;
}

a {
  color: inherit;
}

h6:hover {
  color: inherit;
  text-decoration: underline;
  cursor: pointer;
}

.book-display h6 {
  max-width: 75%;
  margin: auto;
  text-align: center;
  justify-content: center;
}

/* BUTTON STYLES */
.btn {
  background-color: transparent;
  border: 3px solid var(--accent-color);
}

.btn-primary {
  background-color: var(--primary-color);
}

.btn-primary:hover {
  background-color: var(--primary-faded);
  border: 3px solid var(--accent-color);
}

.btn-secondary {
  background-color: var(--secondary-color);
}

.btn-secondary:hover {
  background-color: var(--secondary-faded);
  border: 3px solid var(--accent-color);
}

/* BOOK SHELF STYLES */
#book-container {
  padding: 0;
}

.secondary-bg {
  background-color: var(--secondary-bg-color);
}

/* TO READ COLUMN */
.to-read-col {
  color: var(--secondary-color) !important;
  border: 3px solid var(--shelf-color);
  padding: 0.75rem 0;
}

/* READING COLUMN */
.reading-col {
  color: var(--tertiary-color);
  border: 3px solid var(--shelf-color);
  padding: 0.75rem 0;
}

/* READ COLUMN */
.read-col {
  color: var(--quaternary-color);
  border: 3px solid var(--shelf-color);
  padding: 0.75rem 0;
}

/* COLUMNS */
.dropover-active {
  background-color: var(--quaternary-faded);
}

.bookshelf-row {
  min-height: 10vh;
}

/* DICTIONARY STYLES */
.card {
  background-color: var(--tertiary-bg-faded);
}

.card-header {
  background-color: var(--tertiary-bg-color);
  color: white;
}

/* FOOTER STYLES */
footer {
  background: var(--primary-color);
  justify-content: space-between;
  bottom: 0;
  width: 100%;
}

footer h2,
footer h3 {
  color: var(--accent-color);
  max-width: 100%;
}

footer ol li {
  color: var(--accent-color);
}

/* MODAL STYLES */
.quaternary-bg {
  background-color: var(--quaternary-color);
  color: var(--accent-color);
}

.main-bg {
  background-color: var(--main-bg-color);
}

.color-accent {
  color: var(--accent-color);
}

/* MODAL STYLING */
.book-choice:before {
  border-bottom: 1px solid #dee2e6;
}

#checkbox {
  margin: auto 15px;
}

/* DRAG AND DROP */
.dropover {
  background-color: var(--main-bg-color);
}

.dropover-active {
  background-color: var(--primary-color);
}
